/*

moren din

*/

body{
    background-color: #a8d5e5;
}

li a {
    display: block;
    color: #bee0ec;
    text-align: center;
    padding: 3px 12px;
}

.meny{
    float: row;
    text-decoration: none;
    list-style-type: none;
    margin-left: 41%;
    margin-right: 41%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51abcb;
}