/*

moren din

*/

body{
    background-color: #004d69;
}

.menu_background{
  background-color:#51abcb;
  color:white;
  padding:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 242, 190); 
  }


  li a {
    display: block;
    color: rgb(121, 161, 121);  
    text-align: center;
    padding: 3px 12px; 
    text-decoration: none;
    float: left;
  }

.meny{
    float: row;
    text-decoration: none;
    list-style-type: none;
    margin-left: 41%;
    margin-right: 41%;
}

